html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: #fafafa;
}

header {
    position: absolute;
    padding: 1.25rem;
}

h1 {
    font-weight: 100;
    text-align: center;
    margin-bottom: 2.5rem;
}

main {
    width: calc(100% - 2rem);
    max-width: 968px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background: #fff;
}

@media only screen and (max-width: 768px) {
    main {
        padding-top: 2rem;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
}

li {
    margin: 1.25rem 0;
}